Django==5.1.4
djangorestframework==3.15.2
django-cors-headers==4.9.0
gunicorn==21.2.0
whitenoise==6.6.0
mysql-connector-python==8.4.0
PyMySQL==1.1.2
psycopg2-binary==2.9.10
Pillow==10.0.1
pandas==2.1.0
numpy==1.25.2
requests==2.31.0
