altgraph==0.17.3
annotated-doc==0.0.3
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.1
attrs==25.3.0
auto-py-to-exe==2.39.0
autobahn==24.4.2
Automat==25.4.16
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.15.1
channels==4.3.1
charset-normalizer==3.2.0
click==8.3.0
colorama==0.4.6
constantly==23.10.4
contourpy==1.1.0
cryptography==45.0.7
cycler==0.11.0
daphne==4.2.1
Django==5.1.4
django-cors-headers==4.9.0
django-countries==7.6.1
django-ranged-response==0.2.0
django-simple-captcha==0.6.1
djangorestframework==3.15.2
dnspython==2.4.2
Eel==0.16.0
exceptiongroup==1.3.0
fastapi==0.120.1
fonttools==4.42.1
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==2.0.2
h11==0.16.0
hyperlink==21.0.0
idna==3.4
incremental==24.7.2
kiwisolver==1.4.5
matplotlib==3.8.0
mysql-connector-python==8.4.0
numpy==1.25.2
oracledb==3.3.0
packaging==23.1
pandas==2.1.0
pefile==2023.2.7
pexpect==4.9.0
php==1.2.1
Pillow==10.0.1
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.21
pydantic==2.12.3
pydantic_core==2.41.4
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pymongo==4.5.0
PyMySQL==1.1.2
pyOpenSSL==25.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==311
pywin32-ctypes==0.2.2
requests==2.31.0
service-identity==24.2.0
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.3
starlette==0.48.0
tabulate==0.9.0
tomli==2.2.1
Twisted==25.5.0
txaio==25.6.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.38.0
wexpect==4.0.0
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
